In [1]:
import predthread as pt
import pandas as pd
import datetime

In [2]:
comments_dict = {
    "user1": "0-0. This is a reddite comment scraped with PRAW.",
}

standings_self_text = (
"""
# Standings
User|Points|Earned|Exacts|Corrects|Wrongs
:--|:--|:--|:--|:--|:--|:--
user1 | 0 | 0 | 0 | 0 | 1
"""
)

In [3]:
standings_df = pt.parse.standings(standings_self_text)
standings_df

       Points  PointsGained  Exacts  Corrects  Wrongs
user1       0             0       0         0       1

In [4]:
predictions_df = pt.parse.predictions(comments_dict)
predictions_df

                                                 Comment Prediction
user1  0-0. This is a reddite comment scraped with PRAW.     (0, 0)

In [5]:
# Wrong Result
true_result = pt.MatchResult(1, 0)
updated_standings_df = pt.update_standings(standings_df, predictions_df, true_result)
updated_standings_df

       Points  PointsGained  Exacts  Corrects  Wrongs
user1       0             0       0         0       2

In [6]:
# Correct Result
true_result = pt.MatchResult(1, 1)
updated_standings_df = pt.update_standings(standings_df, predictions_df, true_result)
updated_standings_df

       Points  PointsGained  Exacts  Corrects  Wrongs
user1       1             1       0         1       1

In [7]:
# Exact Result
true_result = pt.MatchResult(0, 0)
updated_standings_df = pt.update_standings(standings_df, predictions_df, true_result)
updated_standings_df

       Points  PointsGained  Exacts  Corrects  Wrongs
user1       3             3       1         0       1

In [8]:
print(pt.report.standings_to_markdown(updated_standings_df))

User | Points | PointsGained | Exacts | Corrects | Wrongs
:--|:--|:--|:--|:--|:--|:--|
user1 | 3 | 3 | 1 | 0 | 1

None