In [20]:
import predthread as pt
import pandas as pd
import datetime

# Offline

In [3]:
comments_dict = {
    "user1": "0-0. This is a reddite comment scraped with PRAW.",
}

standings_self_text = (
"""
# Standings
User|Points|Earned|Exacts|Corrects|Wrongs
:--|:--|:--|:--|:--|:--|:--
user1 | 0 | 0 | 0 | 0 | 1
"""
)

In [8]:
standings_df = pt.parse.standings(standings_self_text)
standings_df

       Points  PointsGained  Exacts  Corrects  Wrongs
user1       0             0       0         0       1

In [7]:
predictions_df = pt.parse.predictions(comments_dict)
predictions_df

      Comment Prediction
user1     0-0     (0, 0)

In [13]:
# Wrong Result
true_result = pt.MatchResult(1, 0)
updated_standings_df = pt.update_standings(standings_df, predictions_df, true_result)
updated_standings_df

       Points  PointsGained  Exacts  Corrects  Wrongs
user1       0             0       0         0       2

In [14]:
# Correct Result
true_result = pt.MatchResult(1, 1)
updated_standings_df = pt.update_standings(standings_df, predictions_df, true_result)
updated_standings_df

       Points  PointsGained  Exacts  Corrects  Wrongs
user1       1             1       0         1       1

In [15]:
# Exact Result
true_result = pt.MatchResult(0, 0)
updated_standings_df = pt.update_standings(standings_df, predictions_df, true_result)
updated_standings_df

       Points  PointsGained  Exacts  Corrects  Wrongs
user1       3             3       1         0       1

# Online

## Week 1

In [32]:
url_week_1 = "https://www.reddit.com/r/predthreadtest/comments/11pnysp/prediction_thread_week_1_southampton_manchester/"

In [33]:
reddit = pt.open_reddit()

In [34]:
thread = pt.open_thread(reddit, url_week_1)
standings = pt.get_standings(thread)
standings

Empty DataFrame
Columns: []
Index: []

In [35]:
lineups_posted_time = datetime.datetime(2023, 3, 12, 19, 0, 0)
predictions = pt.get_predictions(thread, comment_localtime_cutoff=lineups_posted_time)
predictions

                                                    Comment Prediction
gradi3nt  0 - 0. Casemiro is a red card liability, but s...     (0, 0)

In [36]:
true_result = pt.MatchResult(0, 0)
updated_standings = pt.update_standings(standings, predictions, true_result)
updated_standings

          Points  PointsGained  Exacts  Corrects  Wrongs
gradi3nt       3             3       1         0       0

## Week 2

In [37]:
url_week_2 = "https://www.reddit.com/r/predthreadtest/comments/11por0s/prediction_thread_match_2_southampton_brentford/"
lineups_posted_time = datetime.datetime(2023, 3, 12, 19, 0, 0)
true_result = pt.MatchResult(0, 1)

In [57]:
thread = pt.open_thread(reddit, url_week_2)
standings = pt.get_standings(thread)
standings

          Points  PointsGained  Exacts  Corrects  Wrongs
gradi3nt       3             3       1         0       0

In [39]:
predictions = pt.get_predictions(thread, comment_localtime_cutoff=lineups_posted_time)
predictions

                                           Comment Prediction
gradi3nt  0-2. Hard to find a reason for optimism.     (0, 2)

In [41]:
updated_standings = pt.update_standings(standings, predictions, true_result)
updated_standings

          Points  PointsGained  Exacts  Corrects  Wrongs
gradi3nt       3             0       1         0       1

In [56]:
output_string = ""
output_string += "User | Points | PointsGained | Exacts | Corrects | Wrongs\n"
output_string += ":--|" * 7 + "\n"
for author, row in updated_standings[["Points", "PointsGained", "Exacts", "Corrects", "Wrongs"]].iterrows():
    data_columns_string = " | ".join([str(e) for e in row.to_list()]) 
    output_string += f"{author} | {data_columns_string}\n"
print(output_string)

User | Points | PointsGained | Exacts | Corrects | Wrongs
:--|:--|:--|:--|:--|:--|:--|
gradi3nt | 3 | 0 | 1 | 0 | 1